In [3]:
import pandas as pd
df= pd.read_excel("C:/Users/ACER/Desktop/DataAnalyticsProject/SharkTankData/SharkTankIndiaDataset.xlsx")

In [4]:
print(df.head())
print(df.shape)
print(df.columns)

   episode_number  pitch_number           brand_name  \
0               1             1  BluePine Industries
1               1             2        Booz scooters
2               1             3  Heart up my Sleeves
3               2             4           Tagz Foods
4               2             5       Head and Heart

                                            idea  deal  pitcher_ask_amount  \
0                                   Frozen Momos     1                50.0
1  Renting e-bike for mobility in private spaces     1                40.0
2                             Detachable Sleeves     1                25.0
3                           Healthy Potato Chips     1                70.0
4                       Brain Development Course     0                50.0

   ask_equity  ask_valuation  deal_amount  deal_equity  ...  ashneer_deal  \
0         5.0        1000.00         75.0        16.00  ...             1
1        15.0         266.67         40.0        50.00  ...             1
2        10.0         250.00         25.0        30.00  ...             0
3         1.0        7000.00         70.0         2.75  ...             1
4         5.0        1000.00          0.0         0.00  ...             0

   anupam_deal  aman_deal  namita_deal  vineeta_deal  peyush_deal  \
0            0          1            0             1            0
1            0          0            0             1            0
2            1          0            0             1            0
3            0          0            0             0            0
4            0          0            0             0            0

   ghazal_deal  total_sharks_invested  amount_per_shark  equity_per_shark
0            0                      3              25.0          5.333333
1            0                      2              20.0         25.000000
2            0                      2              12.5         15.000000
3            0                      1              70.0          2.750000
4            0                      0               0.0          0.000000

[5 rows x 28 columns]
(117, 28)
Index(['episode_number', 'pitch_number', 'brand_name', 'idea', 'deal',
       'pitcher_ask_amount', 'ask_equity', 'ask_valuation', 'deal_amount',
       'deal_equity', 'deal_valuation', 'ashneer_present', 'anupam_present',
       'aman_present', 'namita_present', 'vineeta_present', 'peyush_present',
       'ghazal_present', 'ashneer_deal', 'anupam_deal', 'aman_deal',
       'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal',
       'total_sharks_invested', 'amount_per_shark', 'equity_per_shark'],
      dtype='object')

In [5]:
#checking missing values
print(df.isnull().sum())

episode_number           0
pitch_number             0
brand_name               0
idea                     0
deal                     0
pitcher_ask_amount       0
ask_equity               0
ask_valuation            0
deal_amount              0
deal_equity              0
deal_valuation           0
ashneer_present          0
anupam_present           0
aman_present             0
namita_present           0
vineeta_present          0
peyush_present           0
ghazal_present           0
ashneer_deal             0
anupam_deal              0
aman_deal                0
namita_deal              0
vineeta_deal             0
peyush_deal              0
ghazal_deal              0
total_sharks_invested    0
amount_per_shark         0
equity_per_shark         0
dtype: int64

In [6]:
#cleaning text columns
df['brand_name']=df['brand_name'].astype(str).str.strip().str.title()
df['idea']=df['idea'].astype(str).str.strip().str.capitalize()

In [7]:
#converting numeric columns
num_cols = [
    'pitcher_ask_amount', 'ask_equity', 'ask_valuation',
    'deal_amount', 'deal_equity', 'deal_valuation',
    'amount_per_shark', 'equity_per_shark'
]

for col in num_cols:
    df[col]=df[col].replace('[\$,₹,]','', regex=True).replace(',','', regex=True).astype(float)

<>:9: SyntaxWarning: invalid escape sequence '\$'
<>:9: SyntaxWarning: invalid escape sequence '\$'
C:\Users\ACER\AppData\Local\Temp\ipykernel_816\1943424732.py:9: SyntaxWarning: invalid escape sequence '\$'
  df[col]=df[col].replace('[\$,₹,]','', regex=True).replace(',','', regex=True).astype(float)

In [8]:
#handling missing values
df.fillna({
    'deal_amount': 0,
    'deal_equity': 0,
    'deal_valuation': 0,
    'ask_valuation': 0,
    'ask_equity': 0,
    'pitcher_ask_amount': 0,
    'amount_per_shark': 0,
    'equity_per_shark': 0,
    'total_sharks_invested': 0
}, inplace=True)
print(df.head())

   episode_number  pitch_number           brand_name  \
0               1             1  Bluepine Industries
1               1             2        Booz Scooters
2               1             3  Heart Up My Sleeves
3               2             4           Tagz Foods
4               2             5       Head And Heart

                                            idea  deal  pitcher_ask_amount  \
0                                   Frozen momos     1                50.0
1  Renting e-bike for mobility in private spaces     1                40.0
2                             Detachable sleeves     1                25.0
3                           Healthy potato chips     1                70.0
4                       Brain development course     0                50.0

   ask_equity  ask_valuation  deal_amount  deal_equity  ...  ashneer_deal  \
0         5.0        1000.00         75.0        16.00  ...             1
1        15.0         266.67         40.0        50.00  ...             1
2        10.0         250.00         25.0        30.00  ...             0
3         1.0        7000.00         70.0         2.75  ...             1
4         5.0        1000.00          0.0         0.00  ...             0

   anupam_deal  aman_deal  namita_deal  vineeta_deal  peyush_deal  \
0            0          1            0             1            0
1            0          0            0             1            0
2            1          0            0             1            0
3            0          0            0             0            0
4            0          0            0             0            0

   ghazal_deal  total_sharks_invested  amount_per_shark  equity_per_shark
0            0                      3              25.0          5.333333
1            0                      2              20.0         25.000000
2            0                      2              12.5         15.000000
3            0                      1              70.0          2.750000
4            0                      0               0.0          0.000000

[5 rows x 28 columns]

In [9]:
# check logic
df['amount_ask_exceeds']=df['deal_amount']>df['ask_valuation']
df['deal_without_equity']=(df['deal']==1) & (df['deal_equity']==0)

print(df[['deal_amount', 'ask_valuation', 'amount_ask_exceeds']].head())

   deal_amount  ask_valuation  amount_ask_exceeds
0         75.0        1000.00               False
1         40.0         266.67               False
2         25.0         250.00               False
3         70.0        7000.00               False
4          0.0        1000.00               False

In [10]:
df['price_per_equity']=df.apply(lambda x: x['deal_amount']/x['deal_equity'] if x['deal_equity']>0 else 0, axis=1)

presence_cols = [
    'ashneer_present', 'anupam_present', 'aman_present',
    'namita_present', 'vineeta_present', 'peyush_present', 'ghazal_present'
]
df = df.drop(columns=presence_cols)
print(df)

     episode_number  pitch_number           brand_name  \
0                 1             1  Bluepine Industries
1                 1             2        Booz Scooters
2                 1             3  Heart Up My Sleeves
3                 2             4           Tagz Foods
4                 2             5       Head And Heart
..              ...           ...                  ...
112              34           113        Green Protein
113              34           114              On2Cook
114              35           115        Jain Shikanji
115              35           116                Woloo
116              35           117         Elcare India

                                              idea  deal  pitcher_ask_amount  \
0                                     Frozen momos     1                50.0
1    Renting e-bike for mobility in private spaces     1                40.0
2                               Detachable sleeves     1                25.0
3                             Healthy potato chips     1                70.0
4                         Brain development course     0                50.0
..                                             ...   ...                 ...
112                            Plant-based protein     0                60.0
113                         Fastest cooking device     0               100.0
114                                       Lemonade     1                40.0
115                                Washroom finder     0                50.0
116                           Carenting for elders     0               100.0

     ask_equity  ask_valuation  deal_amount  deal_equity  ...  namita_deal  \
0           5.0        1000.00         75.0        16.00  ...            0
1          15.0         266.67         40.0        50.00  ...            0
2          10.0         250.00         25.0        30.00  ...            0
3           1.0        7000.00         70.0         2.75  ...            0
4           5.0        1000.00          0.0         0.00  ...            0
..          ...            ...          ...          ...  ...          ...
112         2.0        3000.00          0.0         0.00  ...            0
113         1.0       10000.00          0.0         0.00  ...            0
114         8.0         500.00         40.0        30.00  ...            0
115         4.0        1250.00          0.0         0.00  ...            0
116         2.5        4000.00          0.0         0.00  ...            0

     vineeta_deal  peyush_deal  ghazal_deal  total_sharks_invested  \
0               1            0            0                      3
1               1            0            0                      2
2               1            0            0                      2
3               0            0            0                      1
4               0            0            0                      0
..            ...          ...          ...                    ...
112             0            0            0                      0
113             0            0            0                      0
114             1            0            0                      4
115             0            0            0                      0
116             0            0            0                      0

     amount_per_shark  equity_per_shark  amount_ask_exceeds  \
0                25.0          5.333333               False
1                20.0         25.000000               False
2                12.5         15.000000               False
3                70.0          2.750000               False
4                 0.0          0.000000               False
..                ...               ...                 ...
112               0.0          0.000000               False
113               0.0          0.000000               False
114              10.0          7.500000               False
115               0.0          0.000000               False
116               0.0          0.000000               False

     deal_without_equity  price_per_equity
0                  False          4.687500
1                  False          0.800000
2                  False          0.833333
3                  False         25.454545
4                  False          0.000000
..                   ...               ...
112                False          0.000000
113                False          0.000000
114                False          1.333333
115                False          0.000000
116                False          0.000000

[117 rows x 24 columns]

In [17]:
import openpyxl
output_path=(r"C:/Users/ACER/Desktop/DataAnalyticsProject/SharkTankData/Cleaned_sharkTankData.xlsx")
df.to_excel(output_path, index=False)
print(f"\nCleaned dataset saved at: {output_path}")

Cleaned dataset saved at: C:/Users/ACER/Desktop/DataAnalyticsProject/SharkTankData/Cleaned_sharkTankData.xlsx

In [12]:
#Top 5 most funded startups
print("\nTop 5 most funded startups:")
print(df.sort_values(by='deal_amount', ascending=False)[['brand_name', 'deal_amount']].head())

Top 5 most funded startups:
           brand_name  deal_amount
50      Aas Vidyalaya        150.0
36              Annie        105.0
12        Revamp Moto        100.0
38    The Yarn Bazaar        100.0
39  The Renal Project        100.0

In [13]:
#Average deal amount
avg_deal = df['deal_amount'].mean()
print(f"\nAverage deal amount: ₹{avg_deal:.2f} Lakhs")

Average deal amount: ₹31.98 Lakhs

In [14]:
#Deals by each shark
print("\nDeals by each shark:")
shark_cols = ['ashneer_deal', 'anupam_deal', 'aman_deal', 'namita_deal', 'vineeta_deal', 'peyush_deal', 'ghazal_deal']
for shark in shark_cols:
    print(f"{shark.replace('_deal', '').capitalize()} deals: {int(df[shark].sum())}")

Deals by each shark:
Ashneer deals: 21
Anupam deals: 24
Aman deals: 28
Namita deals: 22
Vineeta deals: 15
Peyush deals: 27
Ghazal deals: 7

In [15]:
#Industry-wise deal count (by idea)
print("\nTop 10 industries (by idea):")
print(df['idea'].value_counts().head(10))

Top 10 industries (by idea):
idea
Frozen momos               1
Bags                       1
Automation solutions       1
Ventilated ppe kits        1
Coffee products            1
Handicrafts                1
Automatic cradle           1
Perfumes                   1
Roasted peanut products    1
Portable ecg device        1
Name: count, dtype: int64

In [16]:
#Deal conversion rate
deal_conversion = (df['deal'].sum() / len(df)) * 100
print(f"\nOverall Deal Conversion Rate: {deal_conversion:.2f}%")

Overall Deal Conversion Rate: 55.56%